<h1>Sitely</h1>
<a href="https://embeddly.dev/">Go to embeddly</a>
<iframe src="https://embeddly.dev/"></iframe>
<script src="https://embeddly.dev/script.js"></script>
<%# <script>
    alert("Heyyyy")
</script> %>